@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100&display=swap');
.App {
  text-align: center;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
}
  /* for Contact Page */
  .contact-box{
    box-shadow: 0px 0px 10px 1px rgba(160, 160, 160, 0.486);
  }